.App { height: 100vh; }
.GameStats { padding: 10px; }
.GameStats .Time { font-weight: bold; }
.GameStats .Points { float: right; font-weight: bold; }
.BigNum { font-size: 64pt; font-weight: bold; text-align: center; padding: 40px; }
.KeyboardInput { font-size: 24pt; font-weight: bold; padding: 25px; }
.Keyboard { position: absolute; bottom: 0px; width: 100%; padding: 10px;}
.Keyboard div { text-align: center; }
.Keyboard button { padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; margin: 5px; }

.alert { margin: 10px}